@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bg: #d4d3d3bb;
  --text: #000000;
  --card: #d4d3d3bb;
}

body.dark {
  --bg: #1e1e1e;
  --text: #ffffff;
  --card: #2b2b2b;
  --revtxt:#1e1e1e;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Inter;

}

body {
    background-color: var(--card);
    scroll-behavior: smooth;
    position: relative;
}


.head-section {
    max-width: 100vw;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 9999;
    background: #4776E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6);
    border-radius: 0px 0px 15px 15px;

}




.head-left>h2 {
    font-size: 1.8rem;
    color: #fff;
}

.head-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    position: relative;


}

.head-right>a {
    font-size: 1.1rem;
}

.head-right>Link {
    font-size: 1.1rem;
}

/* Navigation Menu Start */
.navmenu {
    position: absolute;
    height: 400px;
    width: 700px;
    z-index: 10;
    right: 1px;
    top: 20px;
    border: none;
    border-radius: 30px 5px;
    display: none;
    padding: 10px 20px;
    background-color: #ffffffe5;



}

#menu-icon {
    display: none;
}




#store:hover~.navmenu {
    display: block;
}

.navmenu:hover {
    display: block;
}

.navmenu-container {
    width: 97%;
    height: 90%;


    margin: 20px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    gap: 25px;


}

.toggler{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    
}

.empty-wishlist{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.navmenu-column {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.navmenu-column>a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.661);
    line-height: 1.8;

}

.navmenu-column>a:hover {
    color: #000;
    font-weight: 600;

}


.heading-menu {
    font-size: 1.1rem;
    margin: 20px 0px;
}


/* Navigation Menu Ends   */




.navlink {
    text-decoration: none;
    color: #fff;

}




.navlink:hover {
    color: #2a2a2a;
}

.navlink:active {
    color: #fff;
}



.hero-section {
    max-width: 100vw;
    width: 100%;
    padding-top: 130px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 0 0 40px 40px;
    overflow: hidden;


}

.left-hero {
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 70px 50px;
    /* padding-right: 30px; */
}


.left-hero>h2 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 40px;
}

.left-hero>p {
    color: white;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    width: 70%
}

.left-hero>a {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    width: 120px;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    transition: color 0.2s ease-in-out;
}

.left-hero>a:hover {
    background-color: #fff;
    color: #000;
}

.right-hero {
    max-width: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-image {
    width: 500px;
    animation: levitate 3s ease-in-out infinite;
}





/* Menu Image  */

.product-category-section,
.product-gallery,
.contact-section,
.embaded-video-section,
.newletter-section {
    /* margin-top: 30px; */

    padding: 20px 90px;

}

.menu-image {
    width: 150px;
    border: none;
    border-radius: 30px 5px;
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 20%);


}

.menu-back {
    max-width: 160px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.product {
    max-width: 170px;
    width: 100%;
    transition: transform 0.2s ease;
    cursor: pointer;



}

.product-figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product:hover {
    transform: scale(1.1);
}

.product>h3 {
    text-align: center;
    font-weight: 400;
}

.product-categories {
    display: flex;
    /* grid-template-columns: auto auto auto auto auto auto auto; */
    /* place-items: center; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.product-catagory-heading,
.product-gallary-heading,
.contact-heading,
.video-heading,
.newsletter-heading {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: var(--text);
}


/* Product Gallery Section  */

.product-card {
    max-width: 290px;
    width: 290px;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px 5px;
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 20%);

}

.product {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text);
}

.product-image {
    width: 250px;
    border: none;
}

.product-data-section>h3 {
    margin-top: 10px;
    font-weight: 600;


}
.wishlist-icon-container{
    
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.product-data-rating {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

}

.product-data-rating>h5 {
    font-size: 0.8rem;
}


.buy-button {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 9px 13px;
    border-radius: 10px 2px;
    background: #4776E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6);
    font-weight: 500;
}

a.buy-button {
    font-size: 17px;
}

.product-price-buynow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.amount {
    font-size: 22px;
    font-weight: 500;
}

/* Quary */
.product-data-section>a:hover {
    transform: scale(1.2);

}






.checked {
    color: #ffa500;
}

.product-lineup {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    /* grid-template-columns: auto auto auto auto ; */
}


/* Contact Section Starts  */
.contact-container {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 500px;
    background: #4776E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6);
    padding: 20px;
    border: none;
    border-radius: 30px 2px;
    display: flex;


}

.contact-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.contact-right>h2 {
    margin-bottom: 8px;
    margin-top: 12px;
    font-size: 1.3rem;
    color: #fff;
}

.image-container {
    background-color: #ffffff60;
    border: none;
    border-radius: 30px;



}

#contact-image {
    width: 350px;
    border-radius: 10px;
    animation: levitate 3s ease-in-out infinite;



}

.contact-field {
    max-width: 500px;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
}

.contact-textarea {
    resize: none;
    margin: 10px 0px;
    max-width: 500px;
    width: 100%;
    border: none;
    border-radius: 5px 30px;
    height: 140px;
    padding: 10px;
}

.contact-submit {
    padding: 7px 17px;
    border: none;
    margin: 10px 0px;
    background-color: #000;
    color: white;
    border-radius: 5px;
    transition: color 0.2s ease-in;
}

.contact-submit:hover {
    background-color: #fff;
    color: black;
}

.video-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}





/* contact Section End  */



/* Iframe Video Section Start */

.frames {
    width: 390px;
    height: 250px;
}


/* Iframe Video Section End */



/* Newsletter Section Start  */

.newletter-section-container {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newletter-section-text {
    font-size: 1.7rem;
    margin: 20px 0px;
    text-align: center;
    letter-spacing: 1px;
    color: var(--text);
}

.newletter-input {
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 7px 0px 0px 7px;
    padding: 3px 8px;
}

.newletter-submit {
    height: 40px;
    width: 100px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0px 5px 5px 0px;
    transition: color 0.2s ease-in;
}

.newletter-submit:hover {
    background-color: #fff;
    color: #000;

}


/* Newsletter Section End */

.error {
    color: #ff0000;
    font-weight: 300;
}


/* Footer Code  */
.footer {
    background: #4776E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6);
    color: #ddd;
    padding: 40px 20px 20px;
    font-family: Arial, sans-serif;
    border: none;
    border-radius: 20px 20px 0px 0px;
    margin-top: 30px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.media-links{
    margin-right: 5px;
}

.footer-column {
    flex: 1 1 200px;
    margin: 20px;
}

.footer-column h3 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-column p,
.footer-column a {
    color: #ccc;
    font-size: 14px;
    text-decoration: none;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column a:hover {
    color: #fff;
}

.footer-column.social a img {
    width: 24px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.footer-column.social a:hover img {
    transform: scale(1.2);
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #3333337b;
    font-size: 13px;
    color: #fff;
}

/* Responsive Menu  */

.responsive-menu {
    width: 200px;
    background-color: #fff;
    position: absolute;
    right: 20px;
    top: 50px;
    display: none;

    flex-direction: column;
    z-index: 10;
    gap: 6px;
    padding: 20px;
    justify-content: center;
    align-items: end;
    border: none;
    border-radius: 20px 5px;
}

.responsive-menu.active {
    display: flex;
}

.responsive-menu-icon {
    text-decoration: none;
    color: #000;
}





/* Animation  */

@keyframes levitate {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}


/* Media Query  */

@media (min-width:787px) and (max-width:1024px) {
    .head-section {
        max-width: 100vw;
        width: 100%;
        padding: 20px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0px;
        left: 0;
        z-index: 9999;
        background: #4776E6;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #8E54E9, #4776E6);
        border-radius: 0px 0px 15px 15px;



    }

    .head-right>a {
        font-size: 1rem;
    }

    a.buy-button {
        font-size: 13px;
    }



    #menu-icon {
        display: none;
    }

    




    .hero-section {
        max-width: 100vw;
        width: 100%;
        padding-top: 80px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;

        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        gap: 20px;
        border-radius: 0 0 40px 40px;
        overflow: hidden;


    }

    .left-hero {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        padding: 25px 18px;
        /* padding-right: 30px; */
    }

    .left-hero>h2 {
        font-size: 2rem;
        color: #fff;
        margin-bottom: 30px;
    }

    .left-hero>p {
        color: white;
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 20px;
        width: 100%
    }

    .left-hero>a {

        text-decoration: none;
        background-color: #000;
        color: #fff;
        width: 120px;
        padding: 7px 17px;
        border: none;
        border-radius: 5px;
        transition: color 0.2s ease-in-out;
    }

    #hero-image {
        width: 300px;
        animation: levitate 3s ease-in-out infinite;
    }

    .product-category-section,
    .product-gallery,
    .contact-section,
    .embaded-video-section,
    .newletter-section {
        /* margin-top: 30px; */

        padding: 20px 30px;

    }

    .product-lineup {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }


    .menu-image {
        width: 130px;
        border: none;
        border-radius: 30px 5px;
        box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 20%);


    }

    .product-catagory-heading,
    .product-gallary-heading,
    .contact-heading,
    .video-heading,
    .newsletter-heading {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }


    /* Product Gallery Section  */

    .product-card {
        max-width: 250px;
        width: 100%;
        background-color: #fff;
        padding: 20px;
        border-radius: 30px 5px;
        box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 20%);

    }

    .product-image {
        width: 200px;
        border: none;
    }

    .contact-container {
        max-width: 100%;
        width: 100%;
        height: 800px;
        padding: 20px;
        border: none;
        border-radius: 30px 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;


    }

    .contact-left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .contact-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px auto;
    }

    #contact-image {
        width: 300px;
        border-radius: 10px;
        animation: levitate 3s ease-in-out infinite;
    }

    .contact-field {
        max-width: 100%;
        width: 100%;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        margin: 10px 0px;
    }

    .contact-textarea {
        resize: none;
        margin: 10px 0px;
        max-width: 100%;
        width: 100%;
        border: none;
        border-radius: 5px 30px;
        height: 140px;
        padding: 10px;
    }



    .newletter-section-text {
        font-size: 1rem;
        margin: 20px 0px;
        text-align: center;
        letter-spacing: 1px;
    }

    .newletter-input {
        width: 200px;
        height: 40px;
        border: none;
        border-radius: 7px 0px 0px 7px;
        padding: 3px 8px;
    }

    .newletter-submit {
        height: 40px;
        width: 100px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 0px 5px 5px 0px;
        transition: color 0.2s ease-in;
    }

    .video-section {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }



}




@media (min-width:701px) and (max-width:786px) {
    .head-section {
        max-width: 100vw;
        width: 100%;
        padding: 20px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0px;
        left: 0;
        z-index: 9999;
        background: #4776E6;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #8E54E9, #4776E6);
        border-radius: 0px 0px 15px 15px;


    }

    a.buy-button {
        font-size: 13px;
    }

    .head-right>a {
        font-size: 0.8rem;
    }

    .head-right {
    
    gap: 20px;
    


}


    #menu-icon {
        display: none;
    }

    


    .hero-section {
        max-width: 100vw;
        width: 100%;
        padding-top: 80px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;

        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        gap: 20px;
        border-radius: 0 0 40px 40px;
        overflow: hidden;


    }

    .left-hero {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        padding: 25px 18px;
        /* padding-right: 30px; */
    }

    .left-hero>h2 {
        font-size: 2rem;
        color: #fff;
        margin-bottom: 30px;
    }

    .left-hero>p {
        color: white;
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 20px;
        width: 100%
    }

    .left-hero>a {

        text-decoration: none;
        background-color: #000;
        color: #fff;
        width: 120px;
        padding: 7px 17px;
        border: none;
        border-radius: 5px;
        transition: color 0.2s ease-in-out;
    }

    #hero-image {
        width: 300px;
        animation: levitate 3s ease-in-out infinite;
    }

    .product-category-section,
    .product-gallery,
    .contact-section,
    .embaded-video-section,
    .newletter-section {
        /* margin-top: 30px; */

        padding: 20px 30px;

    }

    .product-lineup {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* grid-template-columns: auto auto auto auto ; */


    }


    .menu-image {
        width: 130px;
        border: none;
        border-radius: 30px 5px;
        box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 20%);


    }

    .product-catagory-heading,
    .product-gallary-heading,
    .contact-heading,
    .video-heading,
    .newsletter-heading {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }


    /* Product Gallery Section  */

    .product-card {
        max-width: 250px;
        width: 100%;
        background-color: #fff;
        padding: 20px;
        border-radius: 30px 5px;
        box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 20%);

    }

    .product-image {
        width: 200px;
        border: none;
    }

    .contact-container {
        max-width: 100%;
        width: 100%;
        height: 800px;
        padding: 20px;
        border: none;
        border-radius: 30px 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;


    }

    .contact-left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .contact-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px auto;
    }

    #contact-image {
        width: 300px;
        border-radius: 10px;
        animation: levitate 3s ease-in-out infinite;
    }

    .contact-field {
        max-width: 100%;
        width: 100%;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        margin: 10px 0px;
    }

    .contact-textarea {
        resize: none;
        margin: 10px 0px;
        max-width: 100%;
        width: 100%;
        border: none;
        border-radius: 5px 30px;
        height: 140px;
        padding: 10px;
    }



    .newletter-section-text {
        font-size: 1rem;
        margin: 20px 0px;
        text-align: center;
        letter-spacing: 1px;
    }

    .newletter-input {
        width: 200px;
        height: 40px;
        border: none;
        border-radius: 7px 0px 0px 7px;
        padding: 3px 8px;
    }

    .newletter-submit {
        height: 40px;
        width: 100px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 0px 5px 5px 0px;
        transition: color 0.2s ease-in;
    }

    .video-section {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }



}

@media (min-width:480px) and (max-width:702px) {

    .head-section {
        max-width: 100vw;
        width: 100%;
        padding: 20px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0px;
        left: 0;
        z-index: 9999;
        background: #4776E6;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #8E54E9, #4776E6);
        border-radius: 0px 0px 15px 15px;


    }

    a.buy-button {
        font-size: 13px;
    }

    .head-right {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    

    .hero-section {
        max-width: 100vw;
        width: 100%;
        padding-top: 80px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border-radius: 0 0 40px 40px;
        overflow: hidden;


    }

    .left-hero {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        padding: 25px 18px;
        /* padding-right: 30px; */
    }

    .left-hero>h2 {
        font-size: 2.5rem;
        color: #fff;
        margin-bottom: 40px;
    }

    .left-hero>p {
        color: white;
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 20px;
        width: 100%
    }

    .left-hero>a {

        text-decoration: none;
        background-color: #000;
        color: #fff;
        width: 120px;
        padding: 10px 18px;
        border: none;
        border-radius: 5px;
        transition: color 0.2s ease-in-out;
    }

    #hero-image {
        width: 300px;
        animation: levitate 3s ease-in-out infinite;
    }

    .product-category-section,
    .product-gallery,
    .contact-section,
    .embaded-video-section,
    .newletter-section {
        /* margin-top: 30px; */

        padding: 20px 30px;

    }

    .product-lineup {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* grid-template-columns: auto auto auto auto ; */


    }


    .menu-image {
        width: 130px;
        border: none;
        border-radius: 30px 5px;
        box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 20%);


    }

    .product-catagory-heading,
    .product-gallary-heading,
    .contact-heading,
    .video-heading,
    .newsletter-heading {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }


    /* Product Gallery Section  */

    .product-card {
        max-width: 250px;
        width: 100%;
        background-color: #fff;
        padding: 20px;
        border-radius: 30px 5px;
        box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 20%);

    }

    .product-image {
        width: 200px;
        border: none;
    }

    .contact-container {
        max-width: 100%;
        width: 100%;
        height: 800px;
        padding: 20px;
        border: none;
        border-radius: 30px 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;


    }

    .contact-left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .contact-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px auto;
    }

    #contact-image {
        width: 300px;
        border-radius: 10px;
        animation: levitate 3s ease-in-out infinite;
    }

    .newletter-section-text {
        font-size: 1rem;
        margin: 20px 0px;
        text-align: center;
        letter-spacing: 1px;
    }

    .newletter-input {
        width: 200px;
        height: 40px;
        border: none;
        border-radius: 7px 0px 0px 7px;
        padding: 3px 8px;
    }

    .newletter-submit {
        height: 40px;
        width: 100px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 0px 5px 5px 0px;
        transition: color 0.2s ease-in;
    }

    .video-section {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }


}


@media (min-width:320px) and (max-width:479px) {
    .head-section {
        max-width: 100vw;
        width: 100%;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0px;
        left: 0;
        z-index: 9999;
        background: #4776E6;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #8E54E9, #4776E6);
        border-radius: 0px 0px 10px 10px;


    }

    a.buy-button {
        font-size: 13px;
    }

    .head-left>h2 {
        font-size: 1.7rem;
        color: #fff;
    }

    .head-right {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    

    .hero-section {
        max-width: 100vw;
        width: 100%;
        padding-top: 70px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border-radius: 0 0 40px 40px;
        overflow: hidden;


    }

    .left-hero {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        padding: 25px 18px;
        /* padding-right: 30px; */
    }

    .left-hero>h2 {
        font-size: 1.7rem;
        color: #fff;
        margin-bottom: 30px;
    }

    .left-hero>p {
        color: white;
        font-size: 1rem;
        line-height: 1.1;
        margin-bottom: 20px;
        width: 100%
    }

    .left-hero>a {

        text-decoration: none;
        background-color: #000;
        color: #fff;
        width: 120px;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        transition: color 0.2s ease-in-out;
    }

    #hero-image {
        width: 300px;
        animation: levitate 3s ease-in-out infinite;
    }

    .product-category-section,
    .product-gallery,
    .contact-section,
    .embaded-video-section,
    .newletter-section {
        /* margin-top: 30px; */

        padding: 10px 15px;

    }

    .product-lineup {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* grid-template-columns: auto auto auto auto ; */


    }


    .menu-image {
        width: 100px;
        border: none;
        border-radius: 30px 5px;
        box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 20%);


    }

    .menu-back {
        max-width: 100px;
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .product {
        width: 110px;
    }

    .product-catagory-heading,
    .product-gallary-heading,
    .contact-heading,
    .video-heading,
    .newsletter-heading {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }


    /* Product Gallery Section  */

    .product-card {
        max-width: 250px;
        width: 100%;
        background-color: #fff;
        padding: 20px;
        border-radius: 30px 5px;
        box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 20%);

    }

    .product-image {
        width: 200px;
        border: none;
    }

    .contact-container {
        max-width: 100%;
        width: 100%;
        height: 800px;
        padding: 20px;
        border: none;
        border-radius: 30px 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;


    }

    .contact-left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .contact-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px auto;
    }

    #contact-image {
        width: 260px;
        border-radius: 10px;
        animation: levitate 3s ease-in-out infinite;
    }

    .newletter-section-text {
        font-size: 0.8rem;
        margin: 20px 0px;
        text-align: center;
        letter-spacing: 1px;
    }

    .newletter-input {
        width: 170px;
        height: 40px;
        border: none;
        border-radius: 7px 0px 0px 7px;
        padding: 3px 8px;
    }

    .newletter-submit {
        height: 40px;
        width: 100px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 0px 5px 5px 0px;
        transition: color 0.2s ease-in;
    }

    .video-section {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

}



.toast {
    position: fixed;
    top: 200px;
    right: 20px;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

/* Show toast */
.toast.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

/* Success type */
.toast.success {
    background-color: #28a745;
}

/* Error type */
.toast.error {
    background-color: #dc3545;
}